 /* mail filter  */
.mail-filter {
    place-self: end start;
    height: 90%;
    width: 60%;
    
    display: grid;
    gap: .3rem;
    grid-template-columns: 3% repeat(3, max-content) repeat(3, 1fr);
    grid-template-rows: 1.5fr .5fr ;
    place-items: center end;
}

.text-filter {
    padding-inline: 1.5rem;
    grid-column: 1 / -1;
    place-self: stretch;

    display: flex;
    align-items: center;
    gap: .3rem;
    
    background-color: var(--m-bg4);
    color: var(--m-gray4);
    border-radius: 30px;
    font-size: 1rem;
}

.text-filter .btn-clear {
    border: none;
    background-color: transparent;
    margin-left: auto;
} 

input:focus {
    outline: none;
}

.mail-filter input {
    height: 100%;

    background-color: transparent;
    border: none;
}

.mail-filter button {
    border: 1px solid var(--m-gray5);
    background-color:  var(--m-bg2);
    border-radius: 20px;
    height: fit-content;
    padding: 3px 8px;
}
.mail-filter button span {
    font-size: smaller;
    margin-left: .5rem;
}


.mail-filter button:hover {
    background-color:  var(--m-bg3);
}

.unread-filter input { 
    display: none;
}

.unread-filter span {
    background-color:  var(--m-bg2);
    border: 1px solid var(--m-gray5);
    border-radius: 6px;
    padding: 3px 6px;
    cursor: pointer;
}

.unread-filter input:checked + span {
    background-color: var(--m-gray5);
}

.mail-filter .unread-filter {
    grid-column: 2 ;
}