 /* mail header  */

.mail-header {
    height: 100%;
    width: 100%;
    
    display: flex;
    gap: .2rem;
    align-items: end;

    padding-top: .3rem;
    padding-left: 1rem;
}

.mail-header h1 {
    margin: 0;
}

.mail-header img {
    height: 65%;
    width: auto;
    padding-bottom: .4rem;
}