 /* mail list */

.mail-list {
    display: grid;
    grid-template-columns: 40px minmax(150px, 1fr) minmax(200px, 3fr) minmax(100px, 1fr);

    background-color: var(--m-bg2);
    border-radius: 20px;
    overflow: hidden;
}

.mail-list ul {
    display: grid;
    grid-template-columns: subgrid;
    grid-column: 1 / -1;

    margin: 0;
} 

.mail-list a {
    display: grid;
    grid-template-columns: subgrid;
    grid-column: 1 / -1;
} 

.mail-list li {
    display: grid;
    grid-template-columns: subgrid;
    grid-column: 1 / -1;
} 