 /* mail details  */

 .loader {
    text-align: center;
}

.loader img {
    margin-block-start: 200px;
    margin-inline: auto;
}

.mail-details .body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: small;
    line-height: 1.5;
}