 /* mail index  */

.mail-index {
    height: calc(100vh - 16px - 16px - 42px);
    
    display: grid;
    grid-template-columns: 1fr 6fr;
    grid-template-rows: 10% 90%;

    background-color: var(--m-bg1);
    font-size: 0.875rem;
}

.mail-header {
    display: flex;
    gap: .2rem;

    padding: .4rem;
}