 /* mail details  */

.loader {
    text-align: center;
}

.loader img {
    margin-block-start: 200px;
    margin-inline: auto;
}

.mail-details-container {
    display: grid;
    justify-items: center;
    background-color: var(--m-bg4);
}

.mail-details {
    display: grid;
    grid-template-rows: auto auto 1fr auto;

    height: calc(100vh - 16px - 16px - 42px);
    width: max(800px, 60vw);
    padding-block: .5rem;

    color: var(--m-gray1);
    font-size: .875rem;

    background-color: var(--m-bg1);
    box-shadow: 0 5px 10px #333333;

}

.mail-details button {
    border: none;
    
    background-color: transparent;
    color: var(--m-txt);
}