:root {
    --bg1: lightblue;
    --bg2: rgb(50, 160, 204);
    --bg3: rgb(89, 134, 206);
    
    --color1: rgb(26, 115, 232);
    --color2: rgb(24, 128, 56);
    --color3: rgb(197, 34, 31);

    --gray2: #aaa;
    --gray2: #888;
    --gray2: #333;
    
    /* mail app */
    --m-bg4: rgb(221, 240, 246);
    --m-bg1: rgba(255, 255, 255, 0.8);
    --m-bg2: rgba(0, 0, 0, 0.051);
    --m-bg3: rgba(172, 202, 253, .2392156863);

    --m-gray1: rgb(31, 31, 31);
    --m-gray2: rgb(34, 34, 34);
    --m-gray3: rgb(94, 94, 94);
 
    --m-border: rgba(100, 121, 143, 0.12)
}