:root {
    --bg1: lightblue;
    --bg2: rgb(50, 160, 204);
    --bg3: rgb(89, 134, 206);

    --color1: rgb(26, 115, 232);
    --color2: rgb(24, 128, 56);
    --color3: rgb(197, 34, 31);

    --gray2: #aaa;
    --gray2: #888;
    --gray2: #333;

    /* mail app */
    --m-bg1: rgb(248, 250, 253);
    --m-bg2: rgb(255, 255, 255);
    --m-bg3: rgb(242, 246, 252);


    --m-gray1: rgb(32, 33, 36);
    --m-gray2: rgb(31, 31, 31);
    --m-gray3: rgb(34, 34, 34);
    --m-gray4: rgb(94, 94, 94);
    --m-gray5: rgba(205, 204, 204, 0.613);
 
    --m-border: rgba(100, 121, 143, 0.12);

    /* not app */
    --logo-text: #1f1f1f;
    --note-border: #e0e0e0;
    --note-bg: #fff;
}