 /* note list */

 /* .notes-container {
     padding: 32px;
 } */

 .note-list {
     /* display: grid;
        grid-template-columns: repeat(auto-fill, 240px);
        gap: 16px;
    
        justify-content: center;
        align-items: start; */
     columns: 6 240px;
     /* column-count: 6; */
     column-gap: 16px;
     margin-top: 24px;
     padding: 0 32px;
     width: 100%;
     box-sizing: border-box;
 }

 .note-preview {

     padding: 16px 16px 4px;
     margin-bottom: 16px;
     break-inside: avoid;

     border: 1px solid var(--note-border);
     border-radius: 8px;
     background-color: var(--note-bg);

     font-size: 11pt;
     line-height: 18pt;

     box-sizing: border-box;
     overflow: visible;
     color: inherit;
     text-decoration: none;
     /* display: inline-block; */
     width: 100%;
     max-width: 100%;
     overflow-wrap: anywhere;
     word-break: break-word;
     break-inside: avoid;

     display: flex;
     flex-direction: column;
     /* justify-content: space-between; */
     min-height: 104px;
     gap: 12px;
     position: relative;

 }

 .note-content {
     flex-grow: 1;
     color: inherit;
     text-decoration: none;
     overflow-wrap: anywhere;
 }

 .btn-pin {
     position: absolute;
     top: 8px;
     right: 8px;

     width: 34px;
     height: 34px;

     display: flex;
     align-items: center;
     justify-content: center;

     border: none;
     border-radius: 50%;
     background: transparent;
     cursor: pointer;
     opacity: 0;
 }

 .btn-pin img {
     width: 24px;
     height: 24px;
 }

 .btn-pin:hover {
     background-color: var(--not-actions-hover);
 }

 .note-preview:hover .btn-pin {
     opacity: 1;
 }

 .note-txt {
    padding-right: 20px;
    .note-txt {
    padding-right: 40px;
    box-sizing: border-box;
}
}