.note-edit-backdrop {
    position: fixed;
    inset: 0;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: rgb(32, 33, 36, 0.6);

    transition: opacity .218s ease-in;
    z-index: 4000;

}

.note-edit-modal {
    width: 600px;
    min-height: 171px;
    max-height: 821px;
    border-radius: 8px;
    background-color: var(--note-bg);
    border: none;
    box-shadow: 0 1px 3px 0 rgba(60, 64, 67, 0.3), 0 4px 8px 3px rgba(60, 64, 67, 0.15);
    box-sizing: border-box;
    padding: 16px;
    opacity: 1;
}

.note-edit-modal textarea {
    width: 100%;
    min-height: 100px;
    padding: 0;

    border: none;
    outline: none;
    resize: none;
    overflow: hidden;

    line-height: 18pt;
    background-color: transparent;
    font-family: inherit;
    font-size: 16px;

    box-sizing: border-box;
}

.note-edit-modal button {
    display: block;
    margin-left: auto;

    padding: 8px 24px;
    border: none;
    background-color: transparent;
    cursor: pointer;

}

.note-edit-img {
    display: block;

    width: calc(100% + 32px);
    max-width: none;
    height: auto;

    margin-top: -16px;
    margin-left: -16px;

    border-radius: 8px 8px 0 0;
}

.note-edit-textarea {
    margin-top: 10px;
}

.note-edit-video {
    display: block;

    width: calc(100% + 32px);
    max-width: none;
    aspect-ratio: 16 / 9;

    margin-top: -16px;
    margin-left: -16px;

    border: none;
    border-radius: 8px 8px 0 0;
}

.note-edit-textarea.todos-title {
    min-height: 24px;
    height: 24px;
    margin-bottom: 2px;
}

.note-edit-modal .add-todo-btn {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;

    width: fit-content;

    margin-right: auto;
    margin-left: -22px;

    white-space: nowrap;
}

.note-edit-modal .add-todo-btn img {
    width: 18px;
    height: 18px;
    margin: 0;
    flex-shrink: 0;
}