.note-add {
    position: relative;
    width: 600px;
    min-height: 50px;

    margin: 32px auto;
    padding: 12px 16px 48px;

    display: flex;
    flex-direction: column;

    border: 1px solid var(--note-border);
    border-radius: 8px;

    background-color: var(--note-bg);

    box-shadow:
        0 1px 2px rgba(60, 64, 67, 0.3),
        0 2px 6px 2px rgba(60, 64, 67, 0.15);

    cursor: text;

    overflow-wrap: break-word;
    padding: 12px 16px 12px 16px;
    box-sizing: border-box;
}

.note-add textarea {

    width: 100%;
    min-height: 80px;
    height: 80px;

    border: none;
    outline: none;
    resize: none;
    overflow: hidden;

    background: transparent;
    font-size: 16px;
    box-sizing: border-box;
    font-family: inherit;
    line-height: 22px;
    color: rgba(0, 0, 0, 0.6);
    padding: 0 55px 12px 0;

}



.note-close-btn {
    /* position: absolute; */
    right: 14px;
    bottom: 8px;


    padding: 8px 24px;

    border: none;
    border-radius: 4px;
    background: transparent;

    font-size: 16px;
    font-weight: 500;

    cursor: pointer;
}

.note-close-btn:hover {
    background-color: rgba(95, 99, 104, 0.08);
    border-radius: 4px;
}

.note-add .note-actions-container {
    position: absolute;
    right: 16px;
    top: 50%;
    transform: translateY(-50%);
}

.note-add .note-actions {
    opacity: 1;
    display: flex;
}

.note-add .note-actions img {
    width: 24px;
    height: 24px;
    display: block;
}

.note-add.expanded {

    min-height: 140px;
    height: auto;
    display: flex;
    flex-direction: column;
    padding: 12px 16px 8px;
}

.note-add:not(.expanded) {
    height: 50px;
}

.note-add.expanded textarea {
    padding: 0;
    height: auto;
    overflow: hidden;
    resize: none;
}

.note-add.expanded .note-close-btn {
    align-self: flex-end;
    width: auto;
    margin-top: 8px;
}


.note-add-img {
    width: 100%;
    max-height: 300px;
    height: auto;
    object-fit: contain;
    display: block;
}



.note-video-add iframe {
    width: 100%;
    max-width: 320px;
    aspect-ratio: 16 / 9;
    border: none;
    display: block;
    margin: 10px auto 0;
}

.note-video-add {
    width: 100%;
}

.note-video-add input {
    width: 100%;
    max-width: 565px;
    padding: 10px 12px;
    border: 1px solid #dadce0;
    border-radius: 6px;
    outline: none;
    font-size: 14px;
    font-family: inherit;
    box-sizing: border-box;
    display: block;
    margin: -35px 1px 0px;
}

.note-todos-add {
    width: 100%;
 margin: -45px 0px 0px;
}

.todo-row {
    display: flex;
    align-items: center;
    gap: 8px;
    margin-top: 8px;
       

}

.todo-input {
    flex: 1;
    border: none;
    outline: none;
    font-family: inherit;
    font-size: 14px;
    background: transparent;
    
}

.todo-input.done {
    text-decoration: line-through;
}